@model Helios.Models.ETAT

@{
    ViewBag.Title = "Edycja etatu";
}

<h2>Edytuj etat</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ETAT</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdEtatu)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.IdEtatu, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.IdEtatu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NazwaEtatu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NazwaEtatu)
            @Html.ValidationMessageFor(model => model.NazwaEtatu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlacaMin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlacaMin)
            @Html.ValidationMessageFor(model => model.PlacaMin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlacaMax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlacaMax)
            @Html.ValidationMessageFor(model => model.PlacaMax)
        </div>

        <p>
            <input type="submit" value="zapisz" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("wróć do listy etatów", "EmployeeTypes")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
